{% block html_head_container %}
	{% include 'html-header.twig' %}
		{% block head %}
		{% endblock %}
		</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			{% block header %}
				<a class="navbar-brand" href="{{ site.url }}" rel="home">{{ site.name }}</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarCollapse">
					{% include "menu.twig" with {'menu': menu.get_items} %}
					<form class="form-inline mt-2 mt-md-0" role="search" method="get" id="searchform" action="/">
						<input class="form-control mr-sm-2" name="s" id="s" type="text" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			{% endblock %}
		</nav>

		<div id="main-content" role="main" class="container">
			{% if title %}
				<h1>{{ title }}</h1>
			{% endif %}
			<div class="wrapper {{ sidebar_class }}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</div>

		{% block footer %}
			<footer class="site-footer" role="contentinfo">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>
