{% extends "base.twig" %}
{% block content %}
	<article class="post post--type-{{ post.post_type }} post--id-{{ post.ID }}">
		<img src="{{ post.thumbnail.src }}" class="post__image img-fluid">
		<h1>{{ post.title }}</h1>
		<div class="post__author">
			<a href="{{ post.author.path }}">{{ post.author.name }}</a>
		</div>
		<div class="post__date">
			{{ post.date }}
		</div>
		<div class="post__body">
			{{post.content}}
		</div>
	</section>
	<div class="comments">
		{% if post.comments %}
			<div class="comments__header">Comments</div>
			{% for cmt in post.comments %}
				{% include "comment.twig" with {comment:cmt} %}
			{% endfor %}
		{% endif %}
		{% if post.comment_status == "closed" %}
			<p>Comments are closed.</p>
		{% else %}
			{% include "comment-form.twig" %}
		{% endif %}
	</article>
{% endblock %}
